[2018-08-01 14:30] david-treblig opened #1 "* is not a zip archive."
Hi! Thanks for creating this plugin, this is exactly what I would need for Polylang pro. There seems to be a problem right now though and your repo seems pretty recent, so I thought I'd leave an issue either way.

I get this error when using "composer update" : ```'web/app/mu-plugins/advanced-custom-fields-pro//77d11e6a97cd4d47687579fa4009c261' is not a zip archive.```

It seems like there's a dou

[2018-08-01 23:39] junaidbhura commented on #1
Hey @david-treblig !

I'm glad you find this plugin useful. From the look of it, it looks like the ACF archive isn't downloaded correctly.

Are you using the ACF plugin? If so, have you entered the correct key in the `.env` file?

You can just remove any of the Pro plugins you aren't using from your `composer.json` file and from the `.env` file.

This plugin has been tested on Mac, Windows and Lin

[2018-08-03 21:17] davidwebca commented on #1
Mmm I tried again today and it doesn't seems to work. I only added polylang pro and ACF pro, the only two I need, with the vcs repo at the top and added all the info necessary to my .env file. It seems to be loading everything correctly, but then tells me the zip file doesn't exist. I'm on a Mac btw. I've been using ACF pro installer for years, but I've been looking for an alternative since I'm a

[2018-08-03 21:20] davidwebca commented on #1
Got it! Same issue that was mentioned many times here : https://github.com/PhilippBaschke/acf-pro-installer/issues/19. [Prestissimo](https://github.com/hirak/prestissimo) is the culprit. You can look at the proposed PR here so that this plugin runs after Presstissimo https://github.com/PhilippBaschke/acf-pro-installer/pull/20/files.

[2018-08-05 23:39] junaidbhura commented on #1
Thanks for pointing this out!

Let me take a deeper look into this and make sure I implement a solution which not only patches this problem, but also prevents further plugin conflicts.

[2018-12-02 11:02] kukac7 commented on #1
I have the same problem with me as well. 😞

[2019-02-10 22:39] junaidbhura opened #2 "Bump PHPDotEnv version to 3"
Bump PHPDotEnv minimum version to "^3.0.0" to avoid conflict with Bedrock.

[2019-02-28 22:42] #2 closed

[2019-03-13 15:00] mcaskill opened #7 "ZIP archives in cache always use the same filename"
When I bump the version number of a premium plugin to update it, I have to delete the cached ZIP archive before running `composer update` because it's always using the same file.

CLI:
[code]

Cache:
[code]

`composer.json`
[code]
[code]

This issue occurs with every plugin supported by this Composer plugin.

Am I doing something wrong?

Thanks

[2019-03-13 22:20] junaidbhura commented on #7
@mcaskill I've noticed this as well. I usually run a `composer clear-cache` before any updates just to be safe.

Can't seem to figure out why this happens. Do you have any thoughts?

[2019-03-13 23:28] mcaskill commented on #7
Ok. Good to know that I'm not crazy.

I'm unfamiliar with Composer's API so I don't know how it managers remote files.
The ZIP filename must be a hash of some kind. Maybe there's a way to customize the filename before/after its downloaded.

[2019-03-13 23:29] junaidbhura commented on #7
Okay cool @mcaskill I'll take a deeper look when I get the time. In the mean time, please feel free to submit a PR.

[2019-03-13 23:31] mcaskill commented on #7
I'll take a deeper look as well, when I find some time.
I've used this plugin on a couple of projects at work and a colleague is starting a third project using this plugin.

Thanks

[2019-03-13 23:33] junaidbhura commented on #7
That's awesome, thanks :)

[2019-03-22 19:06] chrisvanpatten opened #8 "Use auth.json"
Composer provides support for a file for holding authentication keys, `auth.json`. [It's typically used for basic auth](https://getcomposer.org/doc/articles/http-basic-authentication.md) but can also be used for [GitHub/GitLab auth](https://www.previousnext.com.au/blog/managing-composer-github-access-personal-access-tokens).

It should be possible to pull config values from that file with somethin

[2019-03-23 23:02] chrisvanpatten opened #10 "Can't download specific versions of EDD-hosted plugins"
While working on my PR (#9) I noticed that the behaviour around EDD-hosted plugins is a little confusing.

It turns out, the [EDD Licensing API `check_version` endpoint](https://docs.easydigitaldownloads.com/article/384-software-licensing-api) only returns the _latest_ version of a plugin.

I believe, generally, the `version` parameter is ignored or only used for analytics/tracking purposes.

Cave

[2019-03-25 06:34] junaidbhura commented on #10
Hey @chrisvanpatten that's right, this is also a problem with Gravity Forms.

For some reason, they've chosen not to add in this feature! I'm updating the README file of this repository to reflect this.

[2019-03-25 06:34] #10 closed

[2019-03-26 22:05] junaidbhura commented on #8
Hey @chrisvanpatten continuing the conversation from #9 here:

Again, I really appreciate all the effort and time you've put into this!

Unfortunately, I've decided to close this issue and pull request at this time for the following reasons:

1. I think keeping the .env file and the way it currently works would serve the purpose of this plugin the best, because it works closely with the Bedrock ar

[2019-03-26 22:05] #8 closed

[2019-03-26 23:37] chrisvanpatten commented on #8
@junaidbhura Thanks for your comment. It's likely that I'll actually build a new plugin with an alternative approach, in order to support the work I'm doing over in https://github.com/TomodomoCo/wp-packages-repo.

Appreciate the reply.

[2019-03-26 23:42] junaidbhura commented on #8
Sure no worries, @chrisvanpatten . Please feel free to fork this repository!

[2019-06-05 04:31] briankompanee commented on #1
Just wanted to chime in here.  I am having the same issue when trying to deploy my Trellis > Bedrock > Sage project on my server.  Everything seems to work fine on my local dev.

[2019-07-14 15:40] szepeviktor opened #12 "Build URLs with http_build_query()"
Do you agree?
May I send a PR?

[2019-07-14 23:31] junaidbhura commented on #12
@szepeviktor Could you please elaborate this?

[2019-07-15 02:08] szepeviktor commented on #12
Currently the code concatenates string literals with variables. This may be error prone and hard to read

[code]

but here comes http_build_query() (something like this)

[code]

[2019-07-15 02:16] junaidbhura commented on #12
@szepeviktor Sure, that makes sense.

I'll add this in. Just so you know, I'm planning a bit of a rewrite of this plugin. I'm going to be adding in unit tests, and coding standard checks. You can feel free to create any issues, and we can have a discussion on what direction to take, but I'd request you to hold off on creating any pull requests, as it might be hard for me to merge it in.

[2019-07-15 02:21] szepeviktor commented on #12
@junaidbhura I work with developer teams, running code they write.

I talk them into at least these 3 zero-coverage tests.

1. syntax check: parallel-lint
1. coding standard: https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/Continuous-integration-Continuous-delivery.md#coding-style--coding-standard
1. static analysis: @phpstan

All these need nearly no code to run.

[2019-07-15 02:27] junaidbhura commented on #12
Thanks for your feedback @szepeviktor . I'm going to be using CircleCI to check for WordPress coding standards and PHPUnit for unit tests.

[2019-07-15 02:33] szepeviktor commented on #12
Okay!
Then I talk you into using the 2 remaining tests :)

[2019-07-15 02:36] junaidbhura commented on #12
Haha, I'll look into it @szepeviktor and prioritize development as needed! This is a really simple plugin, so I really don't want to over-engineer it.

[2019-07-15 02:38] szepeviktor commented on #12
This is localheinz's baseline https://github.com/localheinz/php-library-template

[2019-07-15 02:40] junaidbhura commented on #12
Thanks, I'll take a look! And here's mine 😉

https://github.com/junaidbhura/wp-project-base

[2019-09-04 22:21] xaqrox opened #13 "Support/documentation: what is registered URL?"
I want to use this plugin to require WP All Import, but I have no idea what the "registered url" env variable is supposed to be. Can you provide some advice on where to find that in my wpallimport.com account?

[2019-09-04 22:59] junaidbhura commented on #13
Hi @xaqrox that would be your website's URL. The one for which the license is issued.

[2019-09-04 22:59] #13 closed

[2019-09-04 23:12] xaqrox commented on #13
Thanks for the reply. As far as I can tell there is no website associated. The label for the key says "WP All Import – WP All Import Unlimited License"

[2019-09-04 23:16] junaidbhura commented on #13
Then you can just use the URL of the website you are using it on :)

[2019-12-11 05:51] alicam opened #14 "BUG: Zips are coming back empty. I think!"
Hi Junaid.

Great little app you have here, but I can't get it to work with Composer 1.9.1 or 1.9.0. (I've not tried rolling back to a previous version.)

![image](https://user-images.githubusercontent.com/44537/70594858-d7590000-1c35-11ea-89b8-f7225b59089c.png)

It always fails, and I have tried it on ACF, Gravity Forms, All Import Pro, etc. All experience the same issue.

Now I checked that it w

[2019-12-11 06:30] alicam commented on #14
I looked in `~/.composer/cache/files/junaidbhura/` and I can see zip files in there for all the plugins, but they're all the wrong filesize and broken (they won't unzip).

So a bit more detail for you there, but still unusable to me :(

A

[2019-12-11 06:45] alicam commented on #14
And in case it's relevant I've cleared the cache, deleted the vendor directory, and as much as possible tried to do it from a "clean install", and to no avail.

A

[2019-12-11 22:40] alicam commented on #14
Hope you can get to this before you get too busy at 10Up!! Congrats, by the way.

A

[2019-12-12 20:10] junaidbhura commented on #14
Hey @alicam Thanks :)

I think this could possibly be related to: https://github.com/junaidbhura/composer-wp-pro-plugins/issues/1

Can you try running `composer clear-cache` before `composer install` ?

[2019-12-12 23:11] alicam commented on #14
Yeah I have. Repeatedly. No go.

Other plugins/dependencies are added just fine, but none that use your app.

Maddening!

[2019-12-13 02:00] junaidbhura commented on #14
Hmm @alicam do you use Prestissimo with Composer?

[2019-12-13 23:43] alicam commented on #14
No I don't. Latest OSX but nothing weird.

[2019-12-15 20:53] junaidbhura commented on #14
Hmm that's really weird @alicam just tested this on the latest OSX Catalina and Composer 1.9.1 and everything works great!

Can you share your composer.json file, and confirm that you have the `.env` file added correctly in the same directory as the composer.json file?

[2019-12-16 02:08] alicam commented on #14
This is my composer.json:

[code]

If I then try `composer require junaidbhura/wp-all-import-pro` it fails.

And yes, the `.env` file is there, and in the right place... hence why it does download *some* of the file, but not all - weirdly.

A

[2019-12-16 02:09] alicam commented on #14
Note also, in the above, that I have TAKEN OUT the other repo for ACF Pro, but have here put it back, because I needed ACF Pro, and this other approach to ACF Pro works. In or out, it doesn't work.

[2019-12-16 02:56] junaidbhura commented on #14
@alicam Can you try removing this?

[code]

It's possible that your `.env` file might be overwritten.

Also, just to confirm, your `require` should look like:

[code]

Try using `*` for the version.

[2019-12-16 05:29] alicam commented on #14
Yeah, no. The .env file is ok. That's only on install.

And yes, I had it like this (and it didn't work):

`"junaidbhura/wp-all-import-pro": "*"`

A

[2019-12-30 01:58] junaidbhura commented on #14
Hey @alicam I've tested this with the latest Composer on Mac, Windows and also Linux on CI systems and it seems to be all okay. This leads me to believe that it might be something specific on your machine that might be causing it to behave this way.

I'm closing this issue because of this reason, but we can continue to have a discussion here to try to figure out what the issue might be!

Did you h

[2019-12-30 01:58] #14 closed

[2020-01-22 11:43] alexanderdejong opened #15 "Polylang username & password"
Hi @junaidbhura, thank you for creating this package! I just have a question regarding Polylang.

What URL should I put in the POLYLANG_PRO_URL variable? I've added the download URL from Polylang but then I get asked for my username and password.

Is there someway that we can add these to the package as wel as an env variable? I ask because I would like to use your package in combination with cont

[2020-01-23 01:53] junaidbhura commented on #15
Hi @alexanderdejong the `POLYLANG_PRO_URL` should be the URL of the site to which the license belongs. Hope that helps!

[2020-01-23 01:53] #15 closed

[2020-03-06 06:53] thuongqbd opened #17 "Conflict with Bedrock: Bedrock required PHPDotEnv minimum version to "^4.1.0""

[2020-03-07 06:28] junaidbhura commented on #17
Hi @thuongqbd is there some documentation for this I can look at? Is it related to #16 ?

[2020-03-09 07:25] thuongqbd commented on #17
@junaidbhura , yes

[2020-03-12 04:59] junaidbhura commented on #17
This is now fixed in #16

[2020-03-12 04:59] #17 closed

[2020-03-13 13:10] Twansparant commented on #1
I had the same problem!
Turns out that the first time you deploy with the new repositories set to **junaidbhura**, the `GRAVITY_FORMS_KEY` env variable is not present yet on the remote server causing this error.
If you first deploy with only adding the `GRAVITY_FORMS_KEY` variable and then another deploy with the new repositories, it will succeed!

[2020-03-15 06:09] ghost commented on #1
Hello,

I recently came across this very same issue. Upon running `composer update` the following occurs.

[code]

[code]

Double `//`
`'web/app/plugins/wp-all-import-pro//4ce805a82ed163a942c6ec4d180bf752'`

My `.env` file:
[code]

[2020-03-28 01:09] junaidbhura commented on #1
@andrade1379 I've come across that issue with WP All Import / Export. They seem to have an issue with their configuration of Easy Digital Downloads. Try changing the version number to an earlier version number. It has helped me in the past.

[2020-04-14 13:24] stuartcusackie commented on #1
Getting the same problems. This error shows for ACF but if I remove ACF then the same thing happens with GravityForms:

[code]

I am also on the Roots framework and I've tried Twansparant's  suggestion to deploy first before adding packages to composer, but it hasn't worked.

- I can see that the correct variables exist in my .env file on the remote server.
- I checked for files located here: **we

[2020-04-15 04:49] junaidbhura commented on #1
@stuartcusackie Do you use Prestissimo? This plugin doesn't currently support Prestissimo

[2020-04-15 09:43] stuartcusackie commented on #1
Yes, it seems I am using Prestissimo. It's the first time I've heard of it but I can see it in my Roots Trellis packages.

[It seems](https://github.com/composer/composer/pull/5293#issuecomment-458995794) composer 2.0 will use an alternative method and Prestissimo will be obsolete. I will try your package again when that day comes.

Thanks for your help!

[2020-04-16 18:04] benlbot opened #18 "Error while extracting content"
Hi,

I have the following issue using your plugin :

![image](https://user-images.githubusercontent.com/27513958/79490385-c3aa1580-7fea-11ea-8129-8660e28058fd.png)

I managed to fix by adding the following line :
[code]
https://github.com/junaidbhura/composer-wp-pro-plugins/blob/master/Installer.php#L108

[2020-04-24 20:25] junaidbhura commented on #1
Okay, great thank you @stuartcusackie !

[2020-04-24 20:26] junaidbhura commented on #18
Hi @benlbot thanks for raising this issue. Can you tell me what plugin you're trying to install?

[2020-05-05 07:54] rubas commented on #7
@junaidbhura, have you found the time to look into it?

Clearing the cache everytime is wasting a lot of time - especially in our ci/deploy pipeline.

[2020-05-05 13:00] mcaskill commented on #7
I haven't had a chance, on my end, to investigate the issue further.

[2020-05-05 13:18] rubas commented on #7
This is not an issue, that we encounter with [private-composer-installer](https://github.com/ffraenz/private-composer-installer).

I'll add to my backlog and try to have a look at it later ...

[2020-05-12 10:08] Twansparant commented on #1
Sorry about that, you're right, it still does not work. I'm also using the Roots stack with Prestissimo so that's the reason it fails...

[2020-06-04 19:31] mcaskill opened #19 "Support for Composer 2"
Composer 2.0 is getting closer to a stable release and this plugin will need an update, as per: https://github.com/composer/composer/issues/8726

Thanks

[2020-06-04 23:11] junaidbhura commented on #19
Thanks @mcaskill , I'll push an update shortly

[2020-07-03 07:18] Twansparant commented on #1
So I thought this error was also related to **Prestissimo** because Trellis includes it [here](https://github.com/roots/trellis/blob/master/group_vars/all/main.yml#L3) as a global package, but when I disable this line and re-provision my local and my remote server, it still happens.

When I ssh into my remote server and check for the global packages: `composer global show -i`  **Prestissimo** is n

[2020-08-23 04:37] junaidbhura commented on #1
@Twansparant Do you use `composer update` or `composer install` on the remote server? You should ideally be using `composer install` on the remote server and `composer update` locally

[2020-08-24 07:05] Twansparant commented on #1
Hi @junaidbhura, locally I always use `composer update` and on deploy `composer install` indeed:
https://github.com/roots/trellis/blob/master/roles/deploy/hooks/build-after.yml#L28

[2020-09-07 15:51] krille opened #23 "Support for "Polylang for WooCommerce""
I have just started on a project that needs both "Polylang Pro" and "Polylang for WooCommerce"
If I understand the code correctly, adding support for "Polylang for WooCommerce" should be pretty straight forward.
Would it be ok if I submitted a pull request that added support for "Polylang for WooCommerce" as well?

[2020-09-07 18:05] krille commented on #23
No need for this anymore. Found this: https://github.com/lubusIN/composer-edd-plugin

[2020-09-07 18:05] #23 closed

[2020-09-11 06:36] #1 closed

[2020-09-12 23:25] #7 closed

[2020-09-12 23:26] junaidbhura commented on #18
Hey @benlbot this has now been resolved in `1.0.10` . Could you please check?

[2020-09-12 23:26] #18 closed

[2020-09-17 13:49] mcaskill commented on #19
As one can tell from the list of commits referenced by GitHub in this issue, I am working on a future pull request to add support for Composer v2.

I am collaborating with [ffraenz/private-composer-installer](https://github.com/ffraenz/private-composer-installer) on some Composer plugin API issues that are preventing us from moving forward.

[2020-09-18 16:25] mcaskill commented on #7
I've noticed an odd behavior on some projects: Sometimes the pro WordPress plugins will update before the Composer plugin updates to v1.0.10, resulting in a continuance of the caching issue from before.

The solution I've found to this is either deleting the the WordPress plugins to force Composer to re-evaluate the packages and download a fresh copies using the correct dist URLs.

Alternatively,

[2020-09-22 03:46] junaidbhura commented on #19
Thanks @mcaskill !

[2020-10-30 21:32] #19 closed

[2021-01-15 01:27] jameelmoses opened #26 "Must-Use Plugin Issue"
I'm having an issue getting Gravity Forms to install as a [must-use plugin](https://wordpress.org/support/article/must-use-plugins/). ACF Pro goes to the `mu-plugins` directory as expected, but Gravity Forms is still going to `plugins`

[code]

Any advice here?

[2021-01-15 01:32] mcaskill commented on #26
I believe `junaidbhura/gravity-forms` should be `junaidbhura/gravityforms`.

If it still doesn't work, what does your `repositories` section look like?

[2021-01-15 01:32] junaidbhura commented on #26
Thanks @mcaskill

[2021-01-15 03:29] jameelmoses commented on #26
That was the issue.

Whelp....that's enough internet for today. :sweat_smile:

[2021-01-15 03:29] #26 closed

[2021-01-17 02:33] #12 closed

[2021-02-23 17:12] jesstucker commented on #18
Greetings,

I am having a similar issue with wp-all-import-pro and wp-all-export-pro.

Attached is the error screenshot:

![Screen Shot 2021-02-23 at 12 09 15 PM](https://user-images.githubusercontent.com/3093012/108880110-f55b1800-75cf-11eb-8608-cdb8afac96f3.png)

Perhaps this is related?

Thank you!

[2021-02-23 21:06] junaidbhura commented on #18
Hi @jesstucker what version of this plugin are you using?

[2021-02-23 22:23] jesstucker commented on #18
Hey @junaidbhura !

I am using:
wp-all-import-pro version 4.6.5
wp-all-export-pro version 1.6.4

![Screen Shot 2021-02-23 at 5 20 08 PM](https://user-images.githubusercontent.com/3093012/108915786-64019b00-75fb-11eb-8e0c-fb2fd795cd54.png)

[2021-02-24 17:31] jesstucker commented on #18
Hey @junaidbhura,

Maybe I'll go ahead and open a separate issue.

[2021-02-24 17:49] jesstucker opened #27 "Failed to execute (9) unzip -qq -o 'web/app/plugins/wp-all-import-pro// ..."
Hey all,

Trying to use the all import/export pro plugin part of this.

Seems that I am getting a similar error as the issues referenced below (and commented in issue 18):
https://github.com/junaidbhura/composer-wp-pro-plugins/issues/18
https://github.com/junaidbhura/composer-wp-pro-plugins/issues/14
https://github.com/junaidbhura/composer-wp-pro-plugins/issues/1

Screenshots of my error:
![Screen

[2021-02-24 18:25] jesstucker commented on #27
Also, just tried mimicking the api call to the WP All Import Api using postman,
I'm getting _presumably_ desired results from postman – at least _a_ `download_link` property. But not in the `WpAiPro.php` plugin – it returns a similar json object, without a `download_link` value.

<img width="666" alt="Screen Shot 2021-02-24 at 1 17 32 PM" src="https://user-images.githubusercontent.com/3093012/1090

[2021-02-24 21:20] junaidbhura commented on #27
Hey @jesstucker thanks for creating this issue, and I'm glad you find this plugin useful! :)

A few things to test:

1. Are you sure you have the correct values in the `.env` file?
2. Try deleting the `vendor` directory, the WP All Import / Export plugins from the `wp-content/plugins` directory and `composer.lock` file and running `composer install` again
3. In Postman - Can you click the `downloa

[2021-02-24 21:21] junaidbhura commented on #18
Thanks @jesstucker !

[2021-02-25 15:24] jesstucker commented on #27
Hey @junaidbhura,

1. I believe the values are correct in the `.env` file. Here is a var_dump of the params seemingly sent to the wpallimport api:
[code]

When I send these same values in postman, I do seem to get a `download_link` value.

2. Just tried deleting `vendor`, `site/web/app/plugins` (note this is a little different in wp sage), and `composer.lock`. Ran `composer install` and still gett

[2021-02-25 21:25] junaidbhura commented on #27
Hey @jesstucker hmm that is really weird. If reprovisioning a local environment works, then there must be some obscure configuration in your existing environment that must be preventing it from working.

I can confirm that the exact same versions of All Import and Export work for me - both locally on a Mac and in an Ubuntu CI environment

Can you run `composer clear-cache` before running `composer

[2021-02-26 03:01] jesstucker commented on #27
Hey  @junaidbhura,

Just ran `composer clear-cache` and `composer install`, same behavior. I'm using `Composer version 1.10.10`. Started using v.2 but was having problems.

I can't for the life of me understand why removing the `versions` param would allow the plugin to download?

I suppose if it comes down to it, maybe I can fork your repo and modify, I do sincerely appreciate your work!!!

Thank

[2021-02-26 04:49] junaidbhura commented on #27
@jesstucker Do you use https://github.com/hirak/prestissimo ? This plugin is incompatible with it

[2021-03-01 16:28] jesstucker commented on #27
@junaidbhura,

Just checked the dependencies, and don't see any use of prestissimo. I did try updating to composer v2 and was having the same zip download error.

Just as a test I tried overwriting  [this line](https://github.com/junaidbhura/composer-wp-pro-plugins/blob/ea74d5f72b24209eac2b973888a76e1fce508455/Installer.php#L200) with a hardcoded url download link (available on wp-all-import site:

[2021-03-19 21:54] claytoncollie opened #28 "How do we pull the latest version of each plugin?"
I am requiring each plugin just fine but I am confused on how we know when to bump and what version to bump to for each plugin. For example, I have to log in to ACF and view my license to see that the latest version is 5.9.5 and the same for WP All Import. The one that is bothering me is WP All Import ACF Add-on. I don't know the latest version number and cant use Composer `^x.x.x` to source the l

[2021-03-21 15:30] mcaskill commented on #28
I keep track of plugin updates in a variety of ways (maintaining WordPress projects is part of my day-job):

* Subscribing to the RSS feeds for the official website blogs of these plugins, if available.
* Subscribing to the RSS feeds for the development logs each one on the WordPress Plugins directory (found under the "Development" tab), if available.
* Subscribing to Release notifications on the

[2021-03-26 14:44] claytoncollie commented on #28
Thanks for this information. I am more specifically looking for an automatic solution that is Composer-based. And even more specifically, with premium plugins. From a quick test, I bumped the version numbers fairly high on my plugins and this package downloaded the latest version of the plugins. meaning that if I was running on 2.4 and I bumped to 4.0, the installer would grab the latest version o

[2021-03-26 14:44] #28 closed

[2021-03-26 15:24] mcaskill commented on #28
One thing to know about this plugin and how Composer works, the `version` and `dist.url` values are hashed and used as a cache key. Unfortunately, most premium plugins only allow one to ever download the latest version. If a Composer-cached copy of the plugin does not exist, it will fetch a the latest one and attach it to that cache key.

When bumping the version number, it creates a new cache key

[2021-03-26 15:31] mcaskill commented on #28
It has happened to me where I bumped the version of Gravity Forms in my `composer.json` file to, for example, 2.1.20, ran `composer update`, which downloaded and installed 2.1.20 (latest version at the time). Then, I committed `composer.json` and `composer.lock`. Afterwards, on a production, I pulled in my changes and ran `composer install`, and Composer downloaded and installed 2.1.21 (that came

[2021-05-11 15:33] sixclones commented on #27
I've been facing a similar issue too.

At first I thought the problem was caused by the fact that zip was named `tmp-somehash.ZIP` with uppercase and as I'm using Ubuntu, the OS is case sensitive.

But then I tried to replicate the problem to give you more information about it but I was able to run `composer install` without any troubles.

Between my first and second try, I modified the permission

[2021-06-17 13:38] Twansparant commented on #27
So I'm trying to achieve the same with Composer 2 and Sage 9, but how can I get this `registered_url_for_wpae_pro`?
I purchased **WP All Export Pro** and need to add it to my composer, just like I did with my GravityForms plugins.

I tried with this url as the **WP_ALL_EXPORT_PRO_URL**:

`https://www.wpallimport.com/index.php?eddfile=<somestring>&ttl=<somenumber>&file=<number>&token=<somerandomstr

[2021-06-17 18:33] jesstucker commented on #27
Hey what's up @Twansparant,

I got this URL by logging into my All Import Pro account (customer portal), and finding the "special" url available for download:
![Screen Shot 2021-06-17 at 2 31 10 PM](https://user-images.githubusercontent.com/3093012/122454080-f6e28e80-cf78-11eb-9562-9258ed58e55b.png)

[2021-06-18 06:56] Twansparant commented on #27
Hi @jesstucker, thanks for your reply!
I did try that url already by setting it as the `WP_ALL_EXPORT_PRO_URL` env variable, but that resulted in the error above.

[2021-06-21 03:09] junaidbhura commented on #27
Hello everyone, are you sure you're not using Prestissimo? https://github.com/hirak/prestissimo . Its a global package, so it won't show up in your `composer.json` file

Just in case, you can try removing it by running: `composer global remove hirak/prestissimo`

[2021-06-21 07:41] Twansparant commented on #27
Yes, in my case 100% sure since I had the same [problems](https://github.com/junaidbhura/composer-wp-pro-plugins/issues/1) with gravityforms packages.

[code]

In my composer.json `repositories`:
[code]
And in my `require`:
[code]
 When I run `rm -rf vendor && rm -rf composer.lock && composer clear-cache && composer install`, I get this error:

[code]

If I try and install the `junaidbhura/wpai-ac

[2021-06-21 13:44] certainlyakey commented on #15
@alexanderdejong you can use `auth.json` to do that 🙂 roughly should be like this:

[code]

[2021-06-22 03:06] junaidbhura commented on #27
hey @Twansparant the `WP_ALL_EXPORT_PRO_URL` is supposed to just be your site's URL. Ex: `https://www.yoursite.com`

[2021-06-22 07:07] Twansparant commented on #27
Hi @junaidbhura, thanks for your reply!
I just tried, but got the same error:

[code]
Also I didn't have to register my domain anywhere when purchasing my license, so what is this url used for in the first place?

[2021-06-23 04:50] junaidbhura commented on #27
That URL is used to identify your site to WP All Export. It simulates when you update the plugin through the WP Admin. I don't think you have to register the URL anywhere.

Stupid question but, do you have a valid license key? Also can you try the license key without quotes in the .env file?

[2021-06-23 08:43] Twansparant commented on #27
Ok check.
Yes I have got a valid _WP All Export Pro Unlimited License_ key. I tried without the quotes, same error.
Are there different types of licenses? I only have the **WP All Export** license, not a **WP All Import** license?
That shouldn't matter right?

[2021-06-24 03:16] junaidbhura commented on #27
Hmm this is weird. I've come across some weirdness with WP All Import / Export based on version numbers. Can you try a different version number like `1.6.4`. It should still give you the latest. That's the last thing I can think of.

I use this on a lot of websites, and it has been tested on Mac, Linux and Windows, and works fine!

[2021-06-25 07:14] Twansparant commented on #27
Just tried it with setting the version as `1.6.4` but  same thing...
Weird, it works with my `gravityforms` plugins on several running projects, so I know your plugin works :)

[2021-08-11 08:00] Twansparant commented on #27
I just purchased the whole suite incl. import pro add-ons, but the same error happens:
[code]
Still not able to reproduce this?
Thanks!

[2021-08-12 04:31] junaidbhura commented on #27
Hey @Twansparant a fix for WP All Import / Export add-ons was recently released. Are you using the latest version of this plugin? It looks like the issue may be different - but can you try to see if updating the plugin helps?

[2021-08-12 08:57] Twansparant commented on #27
I already am using all the latest versions of the plugin and the add-ons.

[2021-08-12 10:31] vaandefanel commented on #27
I'm here to confirm the issue, I have the same behaviour than @jesstucker . When i remove 'version' or set another version like 4.4.4 i have the downlaod_link with the package v4.6.9.

I think the problem is WPAI side. :)

[2021-08-12 22:20] junaidbhura commented on #27
Hey @Twansparant I mean the latest version of THIS plugin? https://github.com/junaidbhura/composer-wp-pro-plugins/releases/tag/1.2.1

@vaandefanel What OS are you on? Are you also using the latest version of this plugin?

[2021-08-13 11:12] Twansparant commented on #27
Ah sorry, yes also using latest version 1.2.1 of your plugin!

[2021-08-13 21:24] vaandefanel commented on #27
@junaidbhura I'm using version 1.2.1 on WSL Ubuntu on Windows. I confirmed the error with api call with Insomnia (postman alternative) on Windows. The WPAI licence is a Bundle Elite.

[2021-08-18 18:53] jensdraserschieb commented on #27
Getting the same error message as the OP here @junaidbhura, using composer-wp-pro-plugins 1.2.1 on Mac, also with the Bundle Elite WPAI license.

I made sure to try all of the above solutions. Only adding the full link in the url instead of https://www.wpallimport.com like shown in https://github.com/junaidbhura/composer-wp-pro-plugins/issues/27#issuecomment-788084552 works fine, even without requ

[2021-08-21 03:53] junaidbhura commented on #27
Hey @Twansparant I just re-read one of your earlier comments. WP All Import and Export use different keys. Are you sure you're using the right key for both of them? Edit: If you're using both All Import and Export, you need to add both keys:

[code]

@vaandefanel @jdraserschieb can you point me to the Bundle Elite license? I don't see it on their website?

[2021-08-21 14:41] berlinersueden commented on #27
Sorry for the confusion @junaidbhura, I remembered the name wrong, the license is called “Import + Export Pro Package”.

My config file looks like this:

[code]

ACF and Polylang work just fine with the `localhost/` URL, but maybe this is different for WP All Import and Export?

[2021-08-23 08:59] Twansparant commented on #27
Yes I'm sure of that, I do have 2 separate license keys for both indeed.
Thanks

[2021-09-08 07:30] junaidbhura opened #30 "Support for WP All Export Add-ons"
A contributor, @vaandefanel, created a PR (https://github.com/junaidbhura/composer-wp-pro-plugins/pull/29) which highlighted that WP All Export has moved their add-ons to separate plugins: https://www.wpallimport.com/downloads/wp-all-export-pro/?changelog=1

[2021-09-08 07:35] #30 closed

[2021-09-14 04:11] broskees opened #32 "Plans for future supported plugins?"
This project seems like a great time saver. Are there plans to support more premium plugins out of the box?

[2021-09-14 07:24] junaidbhura commented on #32
Hi there I'm glad you find this project useful :)

I usually just add plugins that I come across. Folks are welcome to create Pull Requests for any plugins they'd like to add as well.

I'm closing this issue for now, but please feel free to continue this conversation!

[2021-09-14 07:24] #32 closed

[2021-09-22 15:39] kanwarsahilk opened #33 "WP All Import and WP All Export Addons not working"
Hi,
Great composer helper. I was able to install the WP All Import Pro and All Export Pro plugins. But when It try the WP All Import ACF and Export addon its not working.
Getting this error
[code]
I am using this
[code]
In .env file I have
WP_ALL_IMPORT_PRO_KEY
WP_ALL_EXPORT_PRO_KEY

Do I need to add something else in .env file for addons ?

[2021-09-23 04:00] junaidbhura commented on #33
Hi @kanwarsahilk thanks for creating this issue! Can you confirm if you're using version `1.3.0` of this package? https://github.com/junaidbhura/composer-wp-pro-plugins/releases/tag/1.3.0

[2021-09-27 17:01] #33 closed

[2022-03-31 09:32] Twansparant opened #34 "pathinfo(): Argument #1 ($path) must be of type string, null given"
Hi there,

Since composer versions `2.3+`, I'm getting this error when running `composer install` with **gravityforms**:

[code]

Any idea what's going on?
Thanks!

[2022-03-31 09:49] JimJ92120 commented on #34
@Twansparant [Twansparant](https://github.com/Twansparant)
we've been facing same issue
`composer-wp-pro-plugins` is simply not yet compatible to `2.3.0` (no release done since 7 months and `composer` had released `2.3.0` this month (yday): https://github.com/composer/composer/releases

a solution would be to rollback to previous `composer` version (`2.1`, `2.2` seems to be ok) and wait for `junai

[2022-03-31 09:57] Twansparant commented on #34
Yeah I just rolled back to version `2.2.10` and that just throws a notice instead of an error:
[code]

[2022-03-31 10:01] JimJ92120 commented on #34
@Twansparant [Twansparant](https://github.com/Twansparant) then `2.1` (works on our side)

[2022-03-31 10:03] Twansparant commented on #34
No sorry, I meant `2.2.10` also works for me!

[2022-04-01 03:24] junaidbhura commented on #34
Came across this yesterday. Downgraded Composer to `2.2.10` and it worked for me too. I think its because of strict type checking. Will have to take a look.

More info:
https://blog.packagist.com/composer-2-3/
https://github.com/composer/composer/releases/tag/2.3.0

[2022-04-04 01:01] JimJ92120 commented on #34
@junaidbhura i can have a look this week if needed
meanwhile, it might worth updating (or adding a note on) `README.md` (https://github.com/junaidbhura/composer-wp-pro-plugins/blob/master/README.md?plain=1#L31) until compatible with `composer 2.3.0`

[2022-04-04 16:44] Mahjouba91 opened #35 "Weird error when composer install through a docker image"
In my docker custom image I do a:

`RUN composer install --no-dev;`

It worked fine until I added WP All import packages.

Now I have this error:
[code]

my composer.json is like this:
[code]

And I'm still able to download the plugin in local when I do a composer install/update, I have my .env file with the right values.

Do you reproduce this issue?

[2022-04-05 07:39] junaidbhura commented on #35
@Mahjouba91 Sounds like this issue rather than Docker: https://github.com/junaidbhura/composer-wp-pro-plugins/issues/34 . Could you try downgrading Composer?

[2022-04-05 08:33] Mahjouba91 commented on #35
@junaidbhura Ok you're right it was because of the composer version in the Docker image who was set to latest, so it did not work. Thank you very much for pointing me out in the right direction

[2022-04-05 20:11] arjendejong12 commented on #34
I'm also experiencing this problem on `composer 2.3.0` and initial debugging (I might be totally wrong tho) shows that the `PluginEvents::PRE_FILE_DOWNLOAD` event is loaded after it loads the `$package->getDistUrl()` in the `composer/src/Composer/Downloader/FileDownloader.php#L437` `getFileName` function, which means the `distUrl` gets changed too late.

[2022-04-05 20:32] arjendejong12 commented on #34
I think I found a solution, add a trailing slash to the "dist" url:
[code]
The packages will now install like before. The downside is that this requires developers to edit their `composer.json` file, instead of simply updating this package.

[2022-04-06 03:27] junaidbhura commented on #35
No worries thanks!

[2022-04-06 03:27] #35 closed

[2022-04-12 12:32] Mahjouba91 opened #36 "Add wpae-user-add-on-pro addon support"
Just realised when requiring this plugin it was falling back to WP All export so I need this new one supported

[2022-04-12 12:43] Mahjouba91 commented on #36
https://github.com/junaidbhura/composer-wp-pro-plugins/pull/37

[2022-04-21 00:13] junaidbhura commented on #36
Thanks for your contribution @Mahjouba91 this has been merged!

[2022-04-21 00:13] #36 closed

[2022-04-21 00:53] junaidbhura commented on #34
Hello All,

Unfortunately it looks like this happens outside of the plugin here: https://github.com/composer/composer/blob/main/src/Composer/Downloader/FileDownloader.php#L439

So as @arjendejong12 pointed out - the solution in this case will be to just add a trailing slash `/` in the packages' dist URLs. I'm going to close this issue and update the README of this plugin to reflect this.

[2022-04-21 00:53] #34 closed

[2022-04-21 01:06] junaidbhura commented on #27
Hi @Twansparant is this still an issue with the latest Composer?

[2022-04-22 07:36] Twansparant commented on #27
Jup, I updated my local composer to version **2.3.5** and am still getting this error when running `composer update`:

[code]

I still don't know why I'm the only one with this problem?
I added the trailingslash like suggested but it doesn't make a difference?

[code]

Also still not sure what to fill in for the `WP_ALL_EXPORT_PRO_URL` & `WP_ALL_IMPORT_PRO_URL` env variables, because I don't have

[2022-05-20 10:38] stefthoen commented on #27
Just want to add that I'm having the same issue as @Twansparant. As far as I know I've configured everything correctly.

[2022-10-09 21:16] junaidbhura commented on #27
Hey @Twansparant @jesstucker can you check if the new version `1.4.1` fixes this issue for you? https://github.com/junaidbhura/composer-wp-pro-plugins/releases/tag/1.4.1

[2022-10-12 07:53] Twansparant commented on #27
Hi @junaidbhura, I have updated to version 1.4.1 but unfortunately I'm still getting the same error:

[code]
Somehow my WP All Import add-ons are installed correctly?
Not sure if this was always the case or only since the 1.4.1 update?

Thanks!

[2022-10-12 20:16] junaidbhura commented on #27
@Twansparant Can you try `composer clear-cache` and then try again?

[2022-10-13 08:11] Twansparant commented on #27
Just cleared the cache and did a clean install:
`composer clear-cache && rm -rf vendor && rm composer.lock && composer install`
with same result unfortunately...

[2022-10-13 20:08] junaidbhura commented on #27
That's unfortunate! If someone can help me replicate this issue, I'll be able to help resolve and close this.

[2022-11-02 21:34] cschalenborgh commented on #27
I'm experiencing the same issue. I'm running composer 2.3.5

[code]

[2022-11-29 11:15] arnespremberg commented on #27
Having the same issue in a Bedrock/Sage setup. @junaidbhura I'm happy to give you access to the private repo that should enable you to recreate the issue

[2022-11-29 20:41] junaidbhura commented on #27
Thanks @arnespremberg - definitely don't want access to your private repo - but could you give me a detailed description of the environment you are running on, which environments you've tested this on, and can you add your composer.json file here?